<app-ws-scheduler
  [dayStart]="'07:00'"
  [dayEnd]="'16:30'"
  [resources]="instructors"
  [unassignedEvents]="unassignedEvents"
  [theme]="'gradient'"
  (saveEventChanges)="updateEventEntry($event)"
  (triggerEventEdit)="triggerEventEdit($event)">
</app-ws-scheduler>

<div id="ws-event-edit-container-backdrop" [ngClass]="{'ws-show-event-edit': currentEditingEvent != undefined}"></div>

<div id="ws-event-edit-container" [ngClass]="{'ws-show-event-edit': currentEditingEvent != undefined}">
  <div id="ws-event-edit-content-wrapper" *ngIf="currentEditingEvent">
    <h3>Bearbeiten: {{currentEditingEvent.label}}</h3>

    <form [formGroup]="eventEditingForm"
          (ngSubmit)="onEventEditingSubmit()"
          class="ws-form">
      <div class="ws-form-subcontainer p-fluid grid">
        <div class="ws-form-field field col-12 md:col-4">
        <span class="p-float-label">
            <input type="text" id="event_label" pInputText formControlName="eventLabel">
            <label for="event_label">Event</label>
        </span>
        </div>

        <div class="ws-form-field field col-12 md:col-4">
          <span class="p-float-label">
              <p-calendar id="start_time" [timeOnly]="true" class="ws-input-time timer" formControlName="startTime"></p-calendar>
              <label for="start_time">Startzeit</label>
          </span>
        </div>

        <div class="ws-form-field field col-12 md:col-4">
          <span class="p-float-label">
              <p-calendar id="end_time" [timeOnly]="true" class="ws-input-time timer" formControlName="endTime"></p-calendar>
              <label for="end_time">Endzeit</label>
          </span>
        </div>
      </div>

      <button pButton pRipple
              type="button"
              class="ws-btn p-button-outlined"
              (click)="onEventEditingSubmit()">
        <i class="ws-scheduler-trigger-edit pi pi-save"></i>
        <span>speichern</span>
      </button>
    </form>

    <i class="ws-scheduler-close-edit pi pi-times"
       (click)="triggerEventEdit(undefined)"></i>
  </div>
</div>

<button pButton pRipple
        type="button"
        label="get tasks"
        class="p-button-outlined"
        (click)="showTasks()"></button>
