<div id="ws-scheduler-header-container">
  <div class="ws-form-field field col-12 md:col-4">
      <span class="p-float-label">
          <p-calendar id="current_date_input" dateFormat="yy-mm-dd" [showIcon]="true" [(ngModel)]="currentDate" [formControl]="currentDateFormControl"></p-calendar>
      </span>
  </div>
  <div id="ws-scheduler-view-selection-container">
    <button pButton pRipple
            type="button"
            label="day"
            class="ws-btn p-button-outlined"
            [ngClass]="{'ws-active-btn': currentCalendarView == CalendarViewType.day}"
            (click)="currentCalendarView = CalendarViewType.day"></button>
    <button pButton pRipple
            type="button"
            label="month"
            class="ws-btn p-button-outlined"
            [ngClass]="{'ws-active-btn': currentCalendarView == CalendarViewType.month}"
            (click)="currentCalendarView = CalendarViewType.month"></button>
  </div>

</div>
<div [ngClass]="'theme-' + this.theme" class="container mat-elevation-z8 ws-scheduler-container">
  <div class="mat-elevation-z8 ws-scheduler-wrapper">
    <div class="taskTableWrapper" #scrollOne>
      <table class="taskTable ws-scheduler-table">
        <thead>
        <tr>
          <th>{{resourceLabel}}</th>
        </tr>
        </thead>
        <tbody #wsSchedulerResourcesTable>
        <tr
          *ngFor="let task of resources"
          [ngClass]="{ parentTask: task.isParent, active: task.active }"
          [hidden]="task.isHidden"
          (click)="onTaskClick(task)"
          class="ws-scheduler-table-row"
        >
          <td>{{ task.label }}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="timelineWrapper"
        (scroll)="scrollOne.scrollTop = scrollTwo.scrollTop"
        #scrollTwo>
      <table class="timeline">
      <thead>
        <tr *ngIf="currentCalendarView == CalendarViewType.day">
          <th *ngFor="let item of [].constructor(workingHours); let i = index">
            {{ this.dayStartHour + i }}:00
          </th>
        </tr>
        <tr *ngIf="currentCalendarView == CalendarViewType.month">
          <th *ngFor="let item of weekDays;">
            {{ item }}
          </th>
        </tr>
      </thead>
      <tbody class="ws-scheduler-events-body-container">
        <div class="row ws-scheduler-events-resource-row" *ngFor="let currentResource of resources" [hidden]="currentResource.isHidden">
          <ng-container *ngFor="let currentEvent of currentResource.eventsList">
            <div
              *ngIf="(currentEvent.date | date:'yy-MM-dd') == (currentDate | date:'yy-MM-dd')"
              class="taskBar"
              matTooltip="{{ currentResource.tooltip }}"
              matTooltipClass="gantt-tooltip"
              [ngStyle]="{
                left: currentEvent.offset + 'px',
                width: currentEvent.width + 'px'
              }"
              (cdkDragEnded)="dragDropped($event, currentResource, currentEvent)"
              cdkDrag
              style="background-color: {{(currentEvent.color) ? currentEvent.color + 'aa' : '#ffffff8c'}};"
            >
            <span class="ws-scheduler-resize-calendar-item left" cdkDragLockAxis="x" cdkDrag
                  (cdkDragMoved)="resizeStartTime($event, currentResource, currentEvent)"></span>
              <div class="ws-scheduler-event-item-content">
                <span class="ws-scheduler-calendar-item-title">{{ currentEvent.label }}</span>
                <span class="ws-scheduler-calendar-item-time">{{currentEvent.start}}-{{currentEvent.end}}</span>
                <span class="ws-scheduler-calendar-item-time">{{currentEvent.date | date:"dd.MM.yy"}}</span>
                <i class="ws-scheduler-trigger-edit pi pi-ellipsis-v"
                   (click)="triggerEdit(currentEvent)"></i>
              </div>

              <span class="ws-scheduler-resize-calendar-item right" cdkDragLockAxis="x" cdkDrag
                    (cdkDragMoved)="resizeEndTime($event, currentResource, currentEvent)"></span>
            </div>
          </ng-container>

        </div>
      </tbody>
    </table>

    </div>
  </div>
  <div id="ws-scheduler-unassigned-events-container">
    <h2>Unzugewiesene Events:</h2>
    <div id="ws-scheduler-unassigned-events">
      <ng-container *ngFor="let currentEvent of unassignedEvents">
        <div
          *ngIf="(currentEvent.date | date:'yy-MM-dd') == (currentDate | date:'yy-MM-dd')"
          class="taskBar"
          matTooltipClass="gantt-tooltip"
          [ngStyle]="{
                left: currentEvent.offset + 'px',
                width: currentEvent.width + 'px'
              }"
          (cdkDragEnded)="dragDropped($event, unassignedEvents, currentEvent)"
          cdkDrag
          style="background-color: {{(currentEvent.color) ? currentEvent.color + 'aa' : '#ffffff8c'}};"
        >
            <span class="ws-scheduler-resize-calendar-item left" cdkDragLockAxis="x" cdkDrag
                  (cdkDragMoved)="resizeStartTime($event, unassignedEvents, currentEvent)"></span>
          <div class="ws-scheduler-event-item-content">
            <span class="ws-scheduler-calendar-item-title">{{ currentEvent.label }}</span>
            <span class="ws-scheduler-calendar-item-time">{{currentEvent.start}}-{{currentEvent.end}}</span>
            <i class="ws-scheduler-trigger-edit pi pi-ellipsis-v"
               (click)="triggerEdit(currentEvent)"></i>
          </div>

          <span class="ws-scheduler-resize-calendar-item right" cdkDragLockAxis="x" cdkDrag
                (cdkDragMoved)="resizeEndTime($event, unassignedEvents, currentEvent)"></span>
        </div>
      </ng-container>
    </div>
  </div>
</div>
