.dragndrop-list-container{
  background-color: #bbb;
  width: 100%;
  height: 40px;
  margin-top: 40px;
}

.dragndrop-elem{
  display: inline-block;
  width: 50px;
  height: 30px;
  background-color: #2995cc;
}



.theme-gradient {
  table {
    thead > tr > th {
      text-align: center;
    }
  }
  background: #ff00cc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
      to right,
      #333399,
      #ff00cc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
      to right,
      #333399,
      #ff00cc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 7px;

  .taskTableWrapper {
    background-color: #00000029;
    color: white;
    border-radius: 7px 0 0 7px;
  }
  .taskTable {
    thead {
      background-color: #0000002e;
    }
    tr {
      th,
      td {
        height: 30px;
      }
      td {
        border: 1px solid #ffffff44;
      }
    }
  }
  .timelineWrapper {
    thead {
      background-color: #0000002e;
      color: white;
    }
    tr,
    .row {
      th {
        border: 1px solid #ffffff44;
      }
      .taskBar {
        background-color: #ffffff8c;
        color: white;
      }
    }
  }
  .statusBar {
    background-color: #ee04c8;
  }
}
.theme-material {
  background: #ffffff;
  thead {
    color: rgba(0, 0, 0, 0.54);
  }
  .taskTableWrapper {
    border-right: 1px solid #e0e0e0;
  }
  .taskTable {
    table {
      thead {
        color: rgba(0, 0, 0, 0.54);
        tr > th {
          text-align: left;
        }
      }
    }
    td,
    th {
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      height: 31px;
      font-weight: normal;
    }
  }
  .timelineWrapper {
    tr,
    .row {
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      th:not(:last-child) {
        border-right: 1px solid #e0e0e0;
      }
      .taskBar {
        background-color: #d8d8d8;
      }
    }
  }
  .statusBar {
    background-color: #ee04c8;
  }
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.container {
  font-family: Calibri, sans-serif;
  font-size: 12px;
  margin: 0px;
  padding: 18px;
}
table {
  td,
  th {
    line-height: 20px;
  }
}
.taskTableWrapper {
  height: 100%;
  overflow: auto;
  display: inline-block;
  min-width: 150px;
}
.taskTable {
  width: 100%;
  border-collapse: collapse;
  tr {
    white-space: nowrap;
    th,
    td {
      text-align: left;
      padding: 5px;
      box-sizing: border-box;
      height: 30px;
    }
  }
}
.timelineWrapper {
  height: 100%;
  overflow: auto;
  display: inline-block;
  width: 70%;
}
.timeline {
  border-collapse: collapse;
  tr,
  .row {
    white-space: nowrap;
    position: relative;
    height: 30px;
    th {
      display: inline-block;
      box-sizing: border-box;
      width: 120px; // 1 minute is 2px
      height: 31px;
      padding: 5px;
    }
    .statusBar {
      position: absolute;
      height: 16px;
      width: 20px;
      top: 3px;
      box-sizing: border-box;
      margin: 4px 0;
    }
    span:first-of-type {
      border-radius: 7px 0 0 7px;
    }
    span:last-of-type {
      border-radius: 0 7px 7px 0;
    }
  }
}
.parentTask {
  cursor: pointer;
  &.active {
    > td:first-child::before {
      content: '▼ ';
    }
  }
  > td:first-child::before {
    content: '▶ ';
  }
  + tr td:first-child {
    padding-left: 25px !important;
  }
}
::ng-deep .gantt-tooltip {
  white-space: pre-line;
}

.ws-scheduler-events-body-container,
#ws-scheduler-unassigned-events{
  .ws-scheduler-events-resource-row{
    height: 72px;
    border-bottom: 1px solid #ffffff44;
  }

  .taskBar{
    display: inline-block;
    box-sizing: border-box;
    margin: 4px 0;
    text-align: center;
    padding: 5px 24px 5px 5px;
    border-radius: 7px;
    position: absolute;
    line-height: 13px;
    cursor: pointer;
    overflow: hidden;
    height: calc(100% - 8px);

    &:active{
      cursor: grabbing;
    }

    .ws-scheduler-resize-calendar-item{
      background-color: #fff0;
      display: inline-block;
      height: 100%;
      width: 8px;
      cursor: ew-resize;
      position: absolute;
      top: 0px;

      transition: all 350ms ease-in-out;
      -webkit-transition: all 350ms ease-in-out;
      -moz-transition: all 350ms ease-in-out;
      -ms-transition: all 350ms ease-in-out;
      -o-transition: all 350ms ease-in-out;


      &.right{
        right: 0px;
      }

      &.left{
        left: 0px;
      }
    }

    .ws-scheduler-event-item-content{
      text-align: left;
      display: flex;
      flex-direction: column;

      padding: 0px 8px;

      .ws-scheduler-calendar-item-title{
        text-overflow: ellipsis;
        overflow: hidden;
        display: inline-block;
        width: 100%;
        font-weight: 700;
      }

      .ws-scheduler-trigger-edit{
        position: absolute;
        top: 10px;
        right: 8px;
      }
    }

    &:hover{
      .ws-scheduler-resize-calendar-item{
        background-color: #fff9
      }
    }
  }

}

.ws-scheduler-table{
  .ws-scheduler-table-row{
    height: 72px;
  }
}

.ws-scheduler-container{
  height: auto;

  .ws-scheduler-wrapper{
    display: flex;
    flex-direction: row;

    .timelineWrapper{
      flex-grow: 1;

      table.timeline{
        width: 100%;
      }
    }
  }
}

#ws-scheduler-unassigned-events-container{
  background-color: #0000002e;
  padding: 8px 24px;

  #ws-scheduler-unassigned-events{
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 8px;
    flex-wrap: wrap;


    .taskBar{
      height: 64px;
      position: relative;
      width: 150px !important;
      left: 0px !important;
    }

  }
}
