<div id="ws-prices-container">

  <p-table class="ws-table" [value]="allPrices" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
    <ng-template pTemplate="header">
      <tr>
        <th>#ID</th>
        <th>Preis</th>
        <th>%</th>
        <th>Starttag</th>
        <th>Endtag</th>
        <th>Artikel</th>
      </tr>
      <tr *ngIf="pricesLoading">
        <td class="ws-spinner-td" colspan="6">
          <app-ws-spinner [loading]="pricesLoading"></app-ws-spinner>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-wsprice>
      <tr>
        <td>{{wsprice.prcNo}}</td>
        <td>{{wsprice.prcPrice}}</td>
        <td>{{wsprice.prcPercentage}}</td>
        <td>{{wsprice.prcDateFrom}}</td>
        <td>{{wsprice.prcDateTo}}</td>
        <td>{{wsprice.prcArticle}}</td>
      </tr>
    </ng-template>
  </p-table>

</div>
