@import '~primeicons/primeicons.css';
@import "~primeng/resources/primeng.min.css";

@font-face {
  font-family: 'Saira';
  src: url(assets/fonts/SairaCondensed-Regular.ttf);
}

@font-face {
  font-family: 'Chakra';
  src: url(assets/fonts/ChakraPetch-Regular.ttf);
}

:root{
  --ws-primary-color: #14aace;
  --ws-secondary-color: #277f93;
}

body{
  font-family: Saira, Roboto, Arial, sans-serif;
  background-image: linear-gradient(-225deg,#AC32E4 0%,#7918F2 48%,#4801FF 100%);
  min-height: 100vh;
}


h1, h2, h3, h4, h5, h6{
  font-family: Chakra, Saira, Roboto, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}

a{
  color: #bbb;
  text-decoration: none;
  font-weight: 700;
}


/* Primefaces styles */
body .ws-btn.p-button.p-button-outlined,
body .p-button{
  padding: 4px 8px;
  border: 1px solid var(--ws-primary-color);
  color: var(--ws-primary-color);

  &.ws-active-btn{
    border-color: var(--ws-secondary-color);
    color: var(--ws-secondary-color);

  }

  &:hover{
    border: 1px solid var(--ws-secondary-color);
    color: var(--ws-secondary-color);
  }

  i{
    font-size: 16px;
  }

  & > span:not(.p-button-label){
    font-size: 16px;
    margin-left: 5px;
    position: relative;
    top: 2px;
  }
}

body .p-button{
  background-color: var(--ws-primary-color);
  color: #fff;

  &:hover,
  &:enabled:hover{
    background-color: var(--ws-secondary-color);
    border-color: var(--ws-secondary-color);
  }

  & > span:not(.p-button-label){
    color: #fff;
    margin-left: 0px;
  }
}

.ws-form-field:hover{

  input{
    border-color: var(--ws-secondary-color);
  }
  .p-button,
  .p-button:enabled{
    background-color: var(--ws-secondary-color);
    border-color: var(--ws-secondary-color);
  }

}


.ws-form{
  margin-top: 16px;

  .ws-form-subcontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 16px;
  }

  .ws-input-time{
    .p-datepicker-timeonly{
      top: 30px !important;
      background: #000c;
      color: #fff;

      .p-timepicker{
        padding: 0px;

        & > div{
          padding: 0px 4px;
        }

        .p-hour-picker > span,
        .p-minute-picker > span,
        .p-separator > span{
          font-family: Saira, Roboto, Arial, sans-serif;
          line-height: 20px;
        }

        button{
          width: 20px;
          height: 20px;

          &:last-child{
            margin-top: 0px;
          }

          &:enabled:hover{
            background-color: unset;
            color: var(--ws-primary-color);
          }
        }
      }
    }

  }
}

.ws-form-field{
  margin-bottom: 8px;
  input{
    background-color: transparent;
    border: 2px solid var(--ws-primary-color);
    border-radius: 4px;
    color: #fff;
    font-family: Saira, Roboto, Arial, sans-serif;
    padding: 0px 4px;
    font-size: 16px;

    &:hover,
    &.p-inputtext:hover{
      border-color: var(--ws-secondary-color);
    }
  }

  .p-float-label{
    display: inline-block;

    input:focus ~ label,
    input.p-filled ~ label,
    textarea:focus ~ label,
    textarea.p-filled ~ label,
    .p-inputwrapper-focus ~ label,
    .p-inputwrapper-filled ~ label{
      top: 2px;
      right: 6px;
      left: unset;
      font-size: 12px;
      color: var(--ws-primary-color);
      background-color: #343434;
      padding: 0px 4px;
    }
  }
}

.ws-table{
  .p-datatable .p-datatable-thead > tr > th,
  .p-paginator{
    background-color: #14aace77;
    color: #fff;
  }
  .p-datatable .p-datatable-tbody > tr{
    background-color: #2222227c;
    color: #fff;
  }

  .p-paginator .p-paginator-current,
  .p-paginator .p-paginator-first,
  .p-paginator .p-paginator-prev,
  .p-paginator .p-paginator-next,
  .p-paginator .p-paginator-last,
  .p-paginator .p-paginator-pages .p-paginator-page{
    color: #fff;
  }

  .ws-spinner-td{
    text-align: center;

    app-ws-spinner{
      width: 150px;
    }
  }
}


