<div id="ws-main-content-container">
  <h1>{{title}}</h1>
  <app-navigation></app-navigation>
  <div id="ws-main-content-area">
    <router-outlet (activate)="onRouterOutletActivate($event)"></router-outlet>
  </div>
</div>
