::ng-deep app-ws-spinner{
  display: inline-block;
}
.ws-loading-spinner{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .ws-loading-svg{
    width: 100%;
    margin: 24px 0px;

    path{
      stroke-dasharray: 0px, 0px;
      stroke-dashoffset: 0px;

      animation: ws-spinner-animation 2000ms ease-in-out infinite;
    }
  }
}

@keyframes ws-spinner-animation {
  0%{
    stroke-dasharray: 120px, 10px;
    stroke-dashoffset: 10px;
    stroke: #5808fb;
  }
  50%{
    stroke-dasharray: 150px, 80px;
    stroke-dashoffset: 30px;
    stroke: #ac32e4;
  }
  100%{
    stroke-dasharray: 120px, 10px;
    stroke-dashoffset: 10px;
    stroke: #5808fb;
  }
}
