<div class="ws-loading-spinner" *ngIf="loading">
  <svg class="ws-loading-svg" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 153.74371 146.93791">
    <defs id="defs2">
      <clipPath id="clip-path">
        <rect id="Rechteck_4" data-name="Rechteck 4" width="264.33" height="87.811" fill="#00a9e2" />
      </clipPath>
    </defs>
    <g id="layer1" transform="translate(-46.282822,-66.841805)">
      <path d="m 119.63133,136.34906 -8.80525,-26.41577 H 87.932743 l -8.803602,26.41577 -8.805256,-26.41577 H 47.430551 l 20.251096,60.7566 h 22.893334 l 8.806911,-26.41742 8.801948,26.41742 h 22.89664 l 20.25275,-60.7566 h -22.89499 z m -16.97849,51.06949 v 0 l -0.62375,1.89606 a 3.9228226,3.9228226 0 0 1 -3.474449,2.50657 H 67.681647 l -7.044867,21.13129 h 51.0728 a 7.8472997,7.8472997 0 0 0 6.94891,-5.01314 l 0.67834,-2.03173 8.3056,-24.79104 c 0.0513,-0.15222 -0.0199,0.14725 0,0 l 0.7925,-2.50492 h -22.89002 z m 28.42433,-85.41032 h 22.89334 l 2.89041,-8.803601 0.63202,-1.897713 a 3.9228226,3.9228226 0 0 1 3.47445,-2.506569 h 30.86473 l 7.04652,-21.131291 h -50.79319 a 8.2261805,8.2261805 0 0 0 -7.22852,5.00983 l -0.67835,2.033382 z" style="fill:none;fill-opacity:1;stroke:#00a9e2;stroke-width:1.65450132;stroke-opacity:1"/>
    </g>
  </svg>
</div>
